<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>New Client Register Form</h3>
        <div class="login-agileits-top">
            <form action="#" method="post">
                <input type="text" class="name" name="ClientFirstName" Placeholder="First Name" required="" />
                <input type="text" class="name" name="ClientLastName" Placeholder="Last Name" required="" />
                <input type="text" class="name" name="ClientCity" Placeholder="City" required="" />
                <input type="email" class="email" name="ClientMail" Placeholder="Email" required="" />
                <input type="password" class="password" name="ClientPassword" Placeholder="Password" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> I Accept to the <a href="#">Terms &amp; Conditions</a></label>
                </div>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</div>