/* Base */
body {
    background: #000;
    color: gray;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

::selection {
    background: #000;
    color: #fff;
}

a {
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover { text-decoration: none; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 { font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

.border-2 { border-width: 2px; }

.text-black { color: #000 !important; }

.bg-black { background: #000 !important; }

.color-black-opacity-5 { color: rgba(0, 0, 0, 0.5); }

.color-white-opacity-5 { color: rgba(255, 255, 255, 0.5); }

.offcanvas-menu .site-wrap {
    overflow: hidden;
    position: absolute;
}

.site-wrap:before {
    -o-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .3s all ease-in-out;
    visibility: hidden;
    z-index: 2000;
}

.offcanvas-menu .site-wrap {
    overflow: hidden;
    position: absolute;
    z-index: 2;
}

.offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible;
}

.btn { border-radius: 30px; }

.btn:hover, .btn:active, .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none;
}

.btn.btn-black {
    background-color: #000;
    color: #fff;
}

.btn.btn-black:hover {
    background-color: #fff;
    color: #000;
}

.btn.btn-outline-white { border: 2px solid #fff; }

.btn.btn-outline-white:hover {
    background: #fff;
    color: #e44985 !important;
}

.btn.btn-md {
    font-size: 12px;
    letter-spacing: .1em;
    padding: 15px 30px;
    text-transform: uppercase;
}

.line-height-1 { line-height: 1 !important; }

.bg-black { background: #000; }

.form-control {
    background: none;
    border: none;
    border-bottom: 2px solid gray;
    border-radius: 0;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
}

.form-control:active, .form-control:focus {
    -webkit-box-shadow: none;
    background: none;
    border-color: #fff;
    box-shadow: none;
    color: #fff;
    outline: none;
}

.site-section { padding: 2.5em 0; }

@media (min-width: 768px) {
    .site-section { padding: 5em 0; }
}

.site-section.site-section-sm { padding: 4em 0; }

.site-section-heading {
    font-size: 2.5rem;
    margin-bottom: 50px;
    padding-bottom: 20px;
    position: relative;
}

@media (min-width: 768px) {
    .site-section-heading { font-size: 4rem; }
}

.site-section-heading:after {
    background: #e44985;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0%;
    position: absolute;
    width: 100px;
}

.site-section-heading.text-center:after {
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background: #e44985;
    bottom: 0;
    content: "";
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100px;
}

.border-top { border-top: 1px solid #edf0f5 !important; }

.site-footer {
    background: #333333;
    padding: 4em 0;
}

@media (min-width: 768px) {
    .site-footer { padding: 8em 0; }
}

.site-footer .border-top { border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }

.site-footer p { color: #737373; }

.site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 { color: #fff; }

.site-footer a { color: #999999; }

.site-footer a:hover { color: white; }

.site-footer ul li { margin-bottom: 10px; }

.site-footer .footer-heading {
    color: #fff;
    font-size: 16px;
}

.bg-text-line {
    -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
    background: #000;
    box-shadow: 20px 0 0 #000, -20px 0 0 #000;
    display: inline;
}

.text-white-opacity-05 { color: rgba(255, 255, 255, 0.5); }

.text-black-opacity-05 { color: rgba(0, 0, 0, 0.5); }

.hover-bg-enlarge {
    overflow: hidden;
    position: relative;
}

@media (max-width: 991.98px) {
    .hover-bg-enlarge { height: auto !important; }
}

.hover-bg-enlarge > div {
    -ms-transform: scale(1);
    -o-transition: .8s all ease-in-out;
    -webkit-transform: scale(1);
    -webkit-transition: .8s all ease-in-out;
    transform: scale(1);
    transition: .8s all ease-in-out;
}

.hover-bg-enlarge:hover > div, .hover-bg-enlarge:focus > div, .hover-bg-enlarge:active > div {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

@media (max-width: 991.98px) {
    .hover-bg-enlarge .bg-image-md-height { height: 300px !important; }
}

.bg-image {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image.overlay { position: relative; }

.bg-image.overlay:after {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

.bg-image > .container {
    position: relative;
    z-index: 1;
}

@media (max-width: 991.98px) {
    .img-md-fluid { max-width: 100%; }
}

@media (max-width: 991.98px) {
    .display-1, .display-3 { font-size: 3rem; }
}

.play-single-big {
    -o-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff !important;
    display: inline-block;
    height: 90px;
    position: relative;
    transition: .3s all ease-in-out;
    width: 90px;
}

.play-single-big > span {
    -ms-transform: translate(-40%, -50%);
    -webkit-transform: translate(-40%, -50%);
    font-size: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-40%, -50%);
}

.play-single-big:hover {
    height: 120px;
    width: 120px;
}

.overlap-to-top { margin-top: -150px; }

.ul-check { margin-bottom: 50px; }

.ul-check li {
    line-height: 1.5;
    margin-bottom: 15px;
    padding-left: 35px;
    position: relative;
}

.ul-check li:before {
    content: "\e5ca";
    font-family: "icomoon";
    font-size: 20px;
    left: 0;
    position: absolute;
    top: -.3rem;
}

.ul-check.white li:before { color: #fff; }

.ul-check.success li:before { color: #8bc34a; }

.ul-check.primary li:before { color: #e44985; }

.select-wrap, .wrap-icon { position: relative; }

.select-wrap .icon, .wrap-icon .icon {
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 22px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.select-wrap select, .wrap-icon select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
}

.top-bar { border-bottom: 1px solid #e9ecef !important; }

/* Navbar */

.site-navbar {
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    z-index: 1999;
}

.site-navbar.transparent { background: transparent; }

.site-navbar.absolute {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.site-navbar .site-logo {
    left: 0;
    position: relative;
    top: -5px;
}

.site-navbar .site-navigation.border-bottom { border-bottom: 1px solid #f3f3f4 !important; }

.site-navbar .site-navigation .site-menu { margin-bottom: 0; }

.site-navbar .site-navigation .site-menu .active > a {
    color: #e44985;
    display: inline-block;
    padding: 5px 20px;
}

.site-navbar .site-navigation .site-menu a {
    display: inline-block;
    text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu > li { display: inline-block; }

.site-navbar .site-navigation .site-menu > li > a {
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu > li > a:hover { color: #e44985; }

.site-navbar .site-navigation .site-menu .has-children { position: relative; }

.site-navbar .site-navigation .site-menu .has-children > a {
    padding-right: 20px;
    position: relative;
}

.site-navbar .site-navigation .site-menu .has-children > a:before {
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    content: "\e313";
    font-family: 'icomoon';
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    -o-transition: 0.2s 0s;
    -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.2s 0s;
    background: #fff;
    border-bottom: 1px solid #edf0f5;
    border-left: 1px solid #edf0f5;
    border-right: 1px solid #edf0f5;
    border-top: 2px solid #e44985;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    margin-left: 0px;
    margin-top: 20px;
    opacity: 0;
    padding: 0px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    transition: 0.2s 0s;
    visibility: hidden;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top { position: absolute; }

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    border: solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 20%;
    pointer-events: none;
    position: absolute;
    width: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    border-bottom-color: #fff;
    border-color: rgba(136, 183, 213, 0);
    border-width: 10px;
    margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
    -o-transition: 0s all;
    -webkit-transition: 0s all;
    color: #343a40;
    letter-spacing: normal;
    text-transform: none;
    transition: 0s all;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a { color: #e44985 !important; }

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
    list-style: none;
    margin: 0;
    min-width: 200px;
    padding: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
    display: block;
    padding: 9px 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
    background: #f4f5f9;
    color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
    content: "\e315";
    right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
    left: 100%;
    top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
    background: #f4f5f9;
    color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a { color: #e44985; }

.site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active { cursor: pointer; }

.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    margin-top: 0px;
    opacity: 1;
    transition-delay: 0s;
    visibility: visible;
}

.site-mobile-menu {
    -ms-transform: translateX(110%);
    -o-transition: .3s all ease-in-out;
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(110%);
    -webkit-transition: .3s all ease-in-out;
    background: #fff;
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    height: calc(100vh);
    padding-top: 20px;
    position: fixed;
    right: 0;
    transform: translateX(110%);
    transition: .3s all ease-in-out;
    width: 300px;
    z-index: 2000;
}

.offcanvas-menu .site-mobile-menu {
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    line-height: 1;
    padding-left: 10px;
    padding-right: 0px;
    transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover { color: #25262a; }

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
    float: left;
    margin-left: 0px;
    margin-top: 10px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
    display: inline-block;
    text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img { max-width: 70px; }

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover { text-decoration: none; }

.site-mobile-menu .site-mobile-menu-body {
    -webkit-overflow-scrolling: touch;
    height: calc(100vh - 52px);
    overflow-y: scroll;
    padding: 0 20px 20px 20px;
    padding-bottom: 150px;
    position: relative;
}

.site-mobile-menu .site-nav-wrap {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.site-mobile-menu .site-nav-wrap a {
    color: #212529;
    display: block;
    padding: 10px 20px;
    position: relative;
}

.site-mobile-menu .site-nav-wrap a:hover { color: #e44985; }

.site-mobile-menu .site-nav-wrap li {
    display: block;
    position: relative;
}

.site-mobile-menu .site-nav-wrap li.active > a { color: #e44985; }

.site-mobile-menu .site-nav-wrap .arrow-collapse {
    border-radius: 50%;
    cursor: pointer;
    height: 36px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 10px;
    width: 36px;
    z-index: 20;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover { background: #f8f9fa; }

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
    -ms-transform: translate(-50%, -50%) rotate(-180deg);
    -o-transition: .3s all ease;
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
    -webkit-transition: .3s all ease;
    content: "\f078";
    font-family: "icomoon";
    font-size: 12px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-180deg);
    transition: .3s all ease;
    z-index: 20;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap > li {
    display: block;
    float: left;
    position: relative;
    width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
    font-size: 20px;
    padding-left: 20px;
}

.site-mobile-menu .site-nav-wrap > li > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li { display: block; }

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
    font-size: 16px;
    padding-left: 40px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
    margin: 0;
    padding: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li { display: block; }

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
    font-size: 16px;
    padding-left: 60px;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] {
    float: left;
    margin-top: 30px;
    padding-bottom: 5em;
    width: 100%;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li { width: auto; }

.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a { padding-left: 15px !important; }

/* Blocks */

.header-bar {
    background: #000;
    float: right;
    float: none;
    height: 100vh;
    height: 70px !important;
    min-height: 400px;
    min-height: 70px;
    overflow: auto;
    padding: 30px;
    position: fixed;
    right: 0;
    text-align: right;
    top: 0;
    width: 250px;
    width: 100%;
    z-index: 999;
}

.header-bar.inner-page-header { position: relative; }

.header-bar .site-logo {
    margin-bottom: 30px;
    margin-bottom: 0;
    margin-right: auto;
}

.header-bar .site-logo a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-bar .main-menu {
    display: none;
    margin-left: auto;
}

.header-bar ul {
    display: inline-block;
    margin: 0 0 30px 0;
    margin-bottom: 0;
    padding: 0;
    text-align: right;
}

.header-bar ul li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
}

.header-bar ul li a {
    color: #fff;
    display: block;
    font-size: .8rem;
    padding: 4px 0;
    padding: 4px 10px;
    text-transform: uppercase;
}

.header-bar ul li.active a { color: #e44985; }

.header-bar ul.social li { display: inline-block; }

.header-bar ul.social li a { padding: 10px; }

.header-bar ul.social li:last-child a { padding-right: 0; }

.main-content {
    float: left;
    float: none;
    position: relative;
    width: calc(100% - 250px);
    width: 100%;
}

.main-content .container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-left: 15px;
    padding-right: 0;
    padding-right: 15px;
}

.main-content .photos .photo-item { position: relative; }

.main-content .photos .photo-item:after {
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .3s all ease;
    visibility: hidden;
    z-index: 1;
}

.main-content .photos .photo-item .photo-text-more {
    -ms-transform: translate(-50%, -50%);
    -o-transition: .3s all ease;
    -webkit-transform: translate(-50%, -50%);
    -webkit-transition: .3s all ease;
    left: 50%;
    margin-top: 30px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s all ease;
    visibility: hidden;
    width: 100%;
    z-index: 3;
}

.main-content .photos .photo-item .photo-text-more .icon {
    color: #fff;
    font-size: 20px;
}

.main-content .photos .photo-item .photo-text-more .heading {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
}

.main-content .photos .photo-item .photo-text-more .meta {
    color: #cccccc;
    font-size: 12px;
    text-transform: uppercase;
}

.main-content .photos .photo-item img {
    -o-object-fit: cover;
    height: 300px;
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
}

@media (max-width: 575.98px) {
    .main-content .photos .photo-item img { height: 200px; }
}

.main-content .photos .photo-item:hover:after {
    opacity: 1;
    visibility: visible;
}

.main-content .photos .photo-item:hover .photo-text-more {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}

.site-mobile-menu .site-mobile-menu-body ul:first-child {
    float: left;
    margin-bottom: 20px !important;
}

.site-mobile-menu .site-mobile-menu-body .site-nav-wrap + .site-nav-wrap {
    display: block;
    float: left;
    position: relative;
}

.site-mobile-menu .site-mobile-menu-body .site-nav-wrap + .site-nav-wrap li, .site-mobile-menu .site-mobile-menu-body .site-nav-wrap + .site-nav-wrap li a {
    display: inline;
    float: none;
    width: auto;
}

.blog-entry .img-wrap {
    -ms-flex: 0 0 250px;
    -webkit-box-flex: 0;
    flex: 0 0 250px;
}

.blog-entry .img-wrap img { border: 4px solid #fff; }

.blog-entry h2 { font-size: 24px; }

.blog-entry h2 a { color: #fff; }

.blog-entry .meta { color: #737373; }

.custom-pagination {
    margin-bottom: 50px;
    margin-top: 50px;
}

.custom-pagination span, .custom-pagination a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}

.custom-pagination a { border-radius: 50%; }

.custom-pagination a:hover {
    background: #e44985;
    color: #fff;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.swiper-slide {
    background-position: top center;
    background-position: center center;
    background-repeat: no-repeat;
    height: calc(100vh - 100px);
    position: relative;
    width: 100%;
}

.swiper-slide.cover { background-size: cover; }

.gallery-top {
    height: 80%;
    width: 100%;
}

.gallery-thumbs {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 20%;
    padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    cursor: pointer;
    height: 80px;
    opacity: 0.4;
    position: relative;
    transition: .3s all ease;
}

.gallery-thumbs .swiper-slide:before {
    border: 4px solid transparent;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.gallery-thumbs .swiper-slide-thumb-active,
.gallery-thumbs .swiper-slide:hover { opacity: 1; }

.gallery-thumbs .swiper-slide-thumb-active:before,
.gallery-thumbs .swiper-slide:hover:before {
    border: 4px solid #e44985;
    opacity: 1;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    opacity: 0;
    transition: .3s all ease;
    visibility: hidden;
}

.swiper-container:hover .swiper-button-next,
.swiper-container:hover .swiper-button-prev, .swiper-container:focus .swiper-button-next,
.swiper-container:focus .swiper-button-prev {
    opacity: 1;
    visibility: visible;
}

.img-info {
    background: #fff;
    bottom: 0;
    height: 60px;
    left: 0;
    max-width: 400px;
    overflow: hidden;
    padding: 30px;
    position: absolute;
    width: 60px;
}

.img-info .scroll-content-wrapper { height: 100px; }

.img-info .img-info-content {
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    opacity: 0;
    transition: .3s all ease;
    visibility: hidden;
}

.img-info .img-info-content.active {
    opacity: 1;
    visibility: visible;
}

.img-info h2 {
    color: #000;
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.img-info .btn-toggle-expand {
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 60px;
}

.img-info .btn-toggle-expand.active > span {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    display: inline-block;
    position: relative;
    transform: rotate(180deg);
}

.img-info .btn-toggle-expand span { font-size: 18px; }

.img-info *:last-child { margin-bottom: 0; }

.zoom {
    background: #fff;
    bottom: 0;
    color: #b3b3b3;
    height: 60px;
    position: absolute;
    right: 0;
    width: 60px;
}

.zoom span {
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.zoom:hover { color: #b3b3b3; }

.style-scrollbar-sm { height: 100px; }