/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body {
    background: #f0f7f5;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body a {
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

input[type="button"], input[type="submit"] {
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

p { margin: 0; }

ul {
    margin: 0;
    padding: 0;
}

label { margin: 0; }

/*-----start-header----*/

.side-bar {
    background: #1C445F;
    margin-right: 2%;
    min-height: 2500px;
    padding: 0;
    width: 22%;
}

.content {
    padding: 0;
    width: 76%;
}

.total-content { margin: 2em 1em; }

.logo {
    background: #2F5671;
    margin-bottom: 5em;
    padding: 3em 0;
}

.navigation h3 {
    background: #2F5671;
    color: #fff;
    font-size: 1.35em;
    font-weight: 600;
    margin-bottom: 1em;
    padding: 0.7em 0;
    padding-left: 2.5em;
}

.navigation ul {
    cursor: pointer;
    padding-bottom: 0.25em;
    padding-left: 4em;
    padding-top: 0em;
}

.navigation ul:hover {
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    background: #2F5671;
    transition: 0.5s all;
}

.navigation ul li {
    display: inline-block;
    margin: 5px 0;
}

.navigation ul li a {
    color: #fff;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
}

.navigation ul li a:hover { color: #90ff00; }

.navigation { padding-bottom: 2em; }

i.dash {
    background: url('../images/img-sprite.png') no-repeat 0px 0px;
    display: inline-block;
    height: 35px;
    margin-right: 5px;
    vertical-align: bottom;
    width: 35px;
}

i.mail {
    background: url('../images/img-sprite.png') no-repeat -35px 4px;
    display: inline-block;
    height: 35px;
    margin-right: 5px;
    vertical-align: bottom;
    width: 35px;
}

i.cal {
    background: url('../images/img-sprite.png') no-repeat -70px 3px;
    display: inline-block;
    height: 35px;
    margin-right: 5px;
    vertical-align: bottom;
    width: 35px;
}

i.page {
    background: url('../images/img-sprite.png') no-repeat -105px 3px;
    display: inline-block;
    height: 35px;
    margin-right: 5px;
    vertical-align: bottom;
    width: 35px;
}

i.chat {
    background: url('../images/img-sprite.png') no-repeat -140px 3px;
    display: inline-block;
    height: 35px;
    margin-right: 5px;
    vertical-align: bottom;
    width: 35px;
}

i.art {
    background: url('../images/img-sprite.png') no-repeat -175px 3px;
    display: inline-block;
    height: 35px;
    margin-right: 5px;
    vertical-align: bottom;
    width: 35px;
}

i.user {
    background: url('../images/img-sprite.png') no-repeat -210px 3px;
    display: inline-block;
    height: 35px;
    margin-right: 5px;
    vertical-align: bottom;
    width: 35px;
}

i.fat {
    background: url('../images/img-sprite.png') no-repeat -245px 3px;
    display: inline-block;
    height: 35px;
    margin-right: 5px;
    vertical-align: bottom;
    width: 35px;
}

i.speed {
    background: url('../images/img-sprite.png') no-repeat -280px 3px;
    display: inline-block;
    height: 35px;
    margin-right: 5px;
    vertical-align: bottom;
    width: 35px;
}

i.setting {
    background: url('../images/img-sprite.png') no-repeat -315px 3px;
    display: inline-block;
    height: 35px;
    margin-right: 5px;
    vertical-align: bottom;
    width: 35px;
}

.wrapper-dropdown-2 {
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 400;
    outline: none;
    position: relative;
    text-align: center;
    text-transform: capitalize;
}

.wrapper-dropdown-2 .dropdown {
    -moz-border-radius: 5px;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-border-radius: 5px;
    -o-transition: all 0.3s ease-out;
    -webkit-border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    /* Styles */
    background: #fff;
    border-radius: 5px;
    left: 0px;
    list-style: none;
    margin-left: 15%;
    /* Hiding */
    opacity: 0;
    padding: 0.5em 0;
    pointer-events: none;
    /* Size & position */
    position: absolute;
    right: 0px;
    top: 65px;
    transition: all 0.3s ease-out;
    width: 74%;
    z-index: 1;
}

.wrapper-dropdown-2 .dropdown li:last-child { border-bottom: none; }

.wrapper-dropdown-2 .dropdown li {
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-2 .dropdown li a {
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    color: #000;
    display: block;
    font-size: 1em;
    font-weight: 600;
    font-weight: 100;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s ease-out;
}

/* Hover state */

.wrapper-dropdown-2 .dropdown li:nth-child(1) {
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-left-radius: 5px;
    -o-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.wrapper-dropdown-2 .dropdown li:last-child {
    -moz-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #eee;
}

.wrapper-dropdown-2 .dropdown li:nth-child(2), .wrapper-dropdown-2 .dropdown li:nth-child(3), .wrapper-dropdown-2 .dropdown li:nth-child(4) { border-radius: none; }

/* Active state */

.wrapper-dropdown-2.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity .wrapper-dropdown-2 .dropdown,
.no-pointerevents .wrapper-dropdown-2 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity .wrapper-dropdown-2.active .dropdown,
.no-pointerevents .wrapper-dropdown-2.active .dropdown { display: block; }

.wrapper-dropdown-2.active .dropdown {
    border: 1px solid #EBEBEB;
    opacity: 1;
    pointer-events: auto;
    text-align: left;
}

/*****/

.wrapper-dropdown-2 span {
    float: left;
    margin-left: 1.5em;
    margin-top: 0.3em;
    vertical-align: middle;
}

i.rev {
    background: url('../images/img-sprite.png') no-repeat -350px 3px;
    display: inline-block;
    height: 35px;
    margin-right: 5px;
    vertical-align: bottom;
    width: 35px;
}

i.pic {
    background: url('../images/img-sprite.png') no-repeat -385px 3px;
    display: inline-block;
    height: 35px;
    margin-right: 5px;
    vertical-align: bottom;
    width: 35px;
}

i.faq {
    background: url('../images/img-sprite.png') no-repeat -420px 3px;
    display: inline-block;
    height: 35px;
    margin-right: 5px;
    vertical-align: bottom;
    width: 35px;
}

.view {
    background: #ffc907;
    float: left;
    margin-right: 1%;
    min-height: 110px;
    padding: 2.7em 2.25em 0;
    width: 32.66%;
}

.search {
    background: #2e9df7;
    float: left;
    margin-right: 1%;
    min-height: 110px;
    padding: 1.7em 1.5em 0 1.5em;
    width: 32.66%;
}

.member {
    background: #C3627A;
    float: left;
    min-height: 110px;
    padding: 2em 2.9em 0;
    width: 32.66%;
}

.member p { float: left; }

i.refresh {
    background: url('../images/img-sprite.png') no-repeat 0px -35px;
    display: inline-block;
    height: 50px;
    width: 50px;
}

i.msgs {
    background: url('../images/img-sprite.png') no-repeat -50px -35px;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 50px;
}

i.bell {
    background: url('../images/img-sprite.png') no-repeat -100px -35px;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 50px;
}

/***** Messages *************/

.wrapper-dropdown-1, .wrapper-dropdown-2, .wrapper-dropdown-3 {
    outline: none;
    position: relative;
    text-align: left;
}

.wrapper-dropdown-1 .dropdown, .wrapper-dropdown-3 .dropdown {
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    -o-transition: all 0.5s ease-out;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    /* Styles */
    -webkit-transition: all 0.5s ease-out;
    background-color: #FFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    list-style: none;
    /* Hiding */
    max-height: 0;
    overflow: hidden;
    /* Size & position */
    position: absolute;
    right: 0px;
    transition: all 0.5s ease-out;

    width: 250px;
    z-index: 1;
}

.wrapper-dropdown-2 .dropdown {
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    -o-transition: all 0.5s ease-out;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    /* Styles */
    -webkit-transition: all 0.5s ease-out;
    background-color: #FFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    list-style: none;
    /* Hiding */
    max-height: 0;
    overflow: hidden;
    /* Size & position */
    position: absolute;
    right: 0px;
    transition: all 0.5s ease-out;

    width: 225px;
    z-index: 1;
}

.wrapper-dropdown .dropdown li {
    position: relative; /* Enable absolute positioning for checkboxes */
}

.wrapper-dropdown-1 .dropdown li, .wrapper-dropdown-2 .dropdown li, .wrapper-dropdown-3 .dropdown li, .wrapper-dropdown-4 .dropdown li {
    border-bottom: 1px solid #F0F0F0;
    float: none;
    margin: 0;
    width: 100%;
}

.wrapper-dropdown-1 .dropdown li, .wrapper-dropdown-3 .dropdown li { padding: 8px; }

.wrapper-dropdown-1 .dropdown li:hover, .wrapper-dropdown-3 .dropdown li:hover { background: #FDFDFD; }

.odd { }

.wrapper-dropdown-1 .dropdown li:last-child, .wrapper-dropdown-3 .dropdown li:last-child, .wrapper-dropdown-2 .dropdown li:last-child { border-bottom: none; }

.wrapper-dropdown-1 .dropdown li a, .wrapper-dropdown-2 .dropdown li a, .wrapper-dropdown-3 .dropdown li a {
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    border: none;
    border-radius: 0;
    color: #757575;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

/* Active state */

.wrapper-dropdown-1.active:after, .wrapper-dropdown-2.active:after, .wrapper-dropdown-3.active:after { border-width: 0 6px 6px 6px; }

.wrapper-dropdown-1.active .dropdown, .wrapper-dropdown-2.active .dropdown, .wrapper-dropdown-3.active .dropdown { max-height: 400px; }

.notification_header {
    background-color: #F1F1F1;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    padding: 10px 15px;
}

.notification_header h3 {
    color: #0E3651;
    font-size: 12px;
    font-weight: 600;
}

.notification_bottom {
    /* border-color: #E4E4E4; */
    background-color: #F1F1F1;
    padding: 10px 15px;
}

.notification_bottom h3 a {
    border: none;
    border-radius: 0;
    color: #717171;
    font-size: 12px;
    padding: 0;
}

.notification_bottom h3 { font-size: 1em; }

.notification_bottom h3 a:hover {
    color: #4A4A4A;
    text-decoration: underline;
}

.user_img {
    float: left;
    margin-top: 5px;
    width: 15%;
}

.user_icon1, .user_icon2, .user_icon3 {
    float: left;
    margin-top: 5px;
    padding-left: 4px;
    padding-top: 4px;
    width: 14%;
}

.user_icon1 { background: #d9534f; }

.user_icon2 { background: #428bca; }

.user_icon3 { background: #16a085; }

i.nur {
    background: url('../images/img-sprite.png') no-repeat -440px -109px;
    display: inline-block;
    height: 25px;
    padding: 10px;
    width: 25px;
}

i.cancel {
    background: url('../images/img-sprite.png') no-repeat -415px -109px;
    display: inline-block;
    height: 25px;
    width: 25px;
}

i.lock {
    background: url('../images/img-sprite.png') no-repeat -390px -109px;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.user_img img {
    -moz-border-radius: 1em;
    -o-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    display: block;
    max-width: 100%;
}

.notification_desc {
    float: left;
    margin-left: 5%;
    width: 80%;
}

.notification_desc p {
    color: #757575;
    font-size: 13px;
    padding: 2px 0;
}

.wrapper-dropdown-2 .dropdown li a:hover .notification_desc p { color: #424242; }

.notification_desc p span {
    color: #979797 !important;
    font-size: 12px;
}

.view ul li {
    display: inline-block;
    margin: 0 1.7em;
}

.view ul li.messages { position: relative; }

span.red {
    background: #ff4500;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 300;
    height: 30px;
    left: 10px;
    padding-top: 2px;
    position: absolute;
    text-align: center;
    top: -13px;
    width: 30px;
}

.view ul li.notifications { position: relative; }

span.blue {
    background: #2980b9;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 300;
    height: 30px;
    left: 12px;
    padding-top: 2px;
    position: absolute;
    text-align: center;
    top: -12px;
    width: 30px;
}

/*--start-search--*/

.search2 {
    background: none;
    float: right;
    padding: 7px;
    position: relative;
    width: 100%;
}

.search2 input[type="text"] {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.8em;
    font-weight: 300;
    height: 45px;
    outline: none;
    width: 80%;
}

.search2 input[type="submit"] {
    background: url('../images/img-sprite.png') no-repeat -270px -42px;
    border: none;
    cursor: pointer;
    height: 45px;
    outline: none;
    padding: 0;
    position: absolute;
    right: 0px;
    top: 7px;
    width: 45px;
}

i.men {
    background: url('../images/img-sprite.png') no-repeat -150px -35px;
    display: inline-block;
    height: 60px;
    margin-right: 13px;
    vertical-align: middle;
    width: 60px;
}

i.settings {
    background: url('../images/img-sprite.png') no-repeat -210px -35px;
    display: inline-block;
    float: right;
    height: 60px;
    margin-left: 10px;
    vertical-align: middle;
    width: 60px;
}

.member p a {
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
}

p.home {
    background: rgba(215, 229, 227, 0.47);
    font-size: 1.2em;
    font-weight: 300;
    padding: 0.7em 0.9em;
}

p.home a {
    display: block;
    float: left;
    margin-top: -1px;
    text-decoration: none;
    width: 5.5%;
}

.list_of_members { margin: 2em 0; }

.visitors {
    background: #3f4e62;
    cursor: pointer;
    float: left;
    margin-right: 0%;
    padding: 1.8em 2em;
    width: 23.5%;
}

i.user1 {
    background: url('../images/img-sprite.png') no-repeat -315px -35px;
    display: inline-block;
    height: 60px;
    width: 60px;
}

i.visit {
    background: url('../images/img-sprite.png') no-repeat -315px -95px;
    display: inline-block;
    height: 60px;
    width: 60px;
}

i.order {
    background: url('../images/img-sprite.png') no-repeat -375px -35px;
    display: inline-block;
    height: 60px;
    width: 60px;
}

i.dollar {
    background: url('../images/img-sprite.png') no-repeat -435px -35px;
    display: inline-block;
    height: 60px;
    width: 60px;
}

.sales {
    background: #16a085;
    cursor: pointer;
    float: left;
    margin-right: 2%;
    padding: 1.8em 1.5em;
    width: 23.5%;
}

.orders {
    background: #418bca;
    cursor: pointer;
    float: left;
    margin-right: 2%;
    padding: 1.8em 1.5em;
    width: 23.5%;
}

.new-users {
    background: #e05d6f;
    cursor: pointer;
    float: left;
    margin-right: 2%;
    padding: 1.8em 01.5em;
    width: 23.5%;
}

.icon {
    float: left;
    margin-right: 5%;
}

.icon-text { float: left; }

.visitors h3, .sales h3, .new-users h3, .orders h3 {
    color: #fff;
    font-size: 2.6em;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}

.visitors p, .sales p, .new-users p, .orders p {
    color: #fff;
    float: left;
    font-size: 1.3em;
    font-weight: 300;
}

.visitors a, .sales a, .users a { float: right; }

i.go {
    background: url('../images/img-sprite.png') no-repeat -455px 0px;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.calender-left {
    background: #7f8c8d;
    float: left;
    margin-right: 3%;
    padding: 5.1em 3em;
    position: relative;
    width: 43%;
}

.calender-left form input[type="text"], .calender-left form textarea {
    background: #A3AEAE;
    border: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 1.2em;
    outline: none;
    padding: 18px;
    width: 100%;
}

.calender-left form textarea {
    border-radius: 0;
    height: 201px;
    resize: none;
}

.calender-left form input[type="submit"] {
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    background: #A3AEAE;
    border: none;
    color: #fff;
    display: block;
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 0em;
    outline: none;
    padding: 0.7em 0em;
    transition: 0.5s all;
    width: 100%;
}

.calender-left form input[type="submit"]:hover {
    background: #fff;
    color: #000;
}

.calender-left h3, .calender-right h3 {
    color: #fff;
    font-size: 1.9em;
    font-weight: 400;
    margin-bottom: 1.5em;
}

.calenders { margin: 3em 0; }

.calender-right h3 { margin-left: 2em; }

.alert-close, .alert-close1, .alert-close2, .alert-close4, .alert-close6 {
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    background: url('../images/into.png') no-repeat 0px 0px;
    cursor: pointer;
    height: 22px;
    position: absolute;
    right: 22px;
    top: 22px;
    transition: color 0.2s ease-in-out;
    width: 22px;
    z-index: 1;
}

.alert-close5, .alert-close7, .alert-close3 {
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    background: url('../images/into1.png') no-repeat 0px 0px;
    cursor: pointer;
    height: 22px;
    position: absolute;
    right: 11px;
    top: 10px;
    transition: color 0.2s ease-in-out;
    width: 22px;
    z-index: 1;
}

.calender-right {
    background: #3f4e62;
    float: right;
    padding: 3em 0;
    position: relative;
    width: 54%;
}

.men-grid {
    float: right;
    width: 71%;
}

.men-grid h5 {
    font-size: 1.02em;
    font-weight: 600;
    line-height: 1.4em;
    padding: 0 0 0.2em;
}

.men-grid h5 a {
    color: #00aedb;
    text-decoration: none;
}

.men-grid h5 a:hover { color: #ec098d; }

.men-grid p {
    color: #494949;
    font-size: 0.9em;
    line-height: 1.8em;
}

.men { padding: 0em 0 3em 0; }

.men:nth-child(3) { border-bottom: none; }

.story {
    height: 59px;
    padding: 0 0 1em;
}

.top-men { padding: 4em 0 0.5em; }

/*----*/

.cd-tabs-navigation { width: 100%; }

.cd-tabs-navigation li {
    float: left;
    list-style: none;
    width: 33.3333%;
}

.cd-tabs-navigation a {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: #1C445F;
    color: #fff;
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    padding: 1em 0;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.cd-tabs-navigation a.fashion1 { background: #00E676; }

.cd-tabs-navigation a.fashion2 { background: #FFBC00; }

.cd-tabs-navigation a:hover { background: #000; }

.cd-tabs-navigation a.selected i {
    background: url(../images/ar2.png) no-repeat 0px 8px;
    bottom: -8px;
    display: inline-block;
    height: 16px;
    left: 48%;
    margin: 0 auto;
    position: absolute;
    width: 16px;
}

.cd-tabs-navigation a.selected { background: #000; }

.cd-tabs-content li { display: none; }

.cd-tabs-content li.selected {
    -moz-animation: cd-fade-in 0.5s;
    -webkit-animation: cd-fade-in 0.5s;
    animation: cd-fade-in 0.5s;
    display: block;
}

.grid-men {
    float: left;
    margin-right: 3%;
    width: 13%;
}

.grid-men img {
    border: 5px solid #eee;
    width: 100%;
}

.men-grid {
    float: right;
    width: 84%;
}

.men-grid h5 {
    font-size: 1.02em;
    font-weight: 600;
    line-height: 1.4em;
    padding: 0 0 0.2em;
}

.men-grid h5 a {
    color: #00aedb;
    text-decoration: none;
}

.men-grid h5 a:hover { color: #ec098d; }

.story {
    height: 59px;
    padding: 0 0 1em;
}

.top-men {
    background: #5D6B76;
    padding: 4em 4em 1em 4em;
}

.men-grid h6 {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
}

.men-grid p {
    color: #fff;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.7em;
    margin-top: 0.5em;
}

.men-grid span {
    color: #fff;
    display: block;
    font-size: 1em;
    margin-top: 5px;
}

div#vmap { background-color: #4597a8 ! important; }

.men-grid h6 a {
    color: #fff;
    font-size: 1.3em;
    font-weight: 400;
    text-decoration: none;
}

.total-sales { margin: 3em 0; }

.to-do h3 {
    background-color: #ABB1FC;
    color: #fff;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1.5em;
    padding: 0.7em 0;
    text-align: center;
}

.to-do {
	
    background: #fff;
    border: 1px solid #eaeaea;
    float: right;
    margin: 1em 2.5% 0;
    padding-bottom: 2.7em;
    position: relative;
    width: 30%;
}

.checkbox {
    cursor: pointer;
    font-size: 1.1em;
    line-height: 27px;
    margin-bottom: 4px;
    padding-left: 30px;
}

.checkbox { margin-top: 13px; }

.checkbox {
    color: #000;
    font-size: 1.2em;
    font-weight: 400;
    position: relative;
}

.checkbox:last-child { margin-bottom: 0; }

.checkbox i {
    border: 1px solid #97A2A8;
    bottom: 4px;
    display: block;
    height: 19px;
    left: 17.5em;
    outline: none;
    position: absolute;
    width: 19px;
}

.checkbox i.left {
    border: 1px solid #97A2A8;
    bottom: 4px;
    display: block;
    height: 19px;
    left: 0;
    outline: none;
    position: absolute;
    width: 19px;
}

.checkbox input + i:after {
    background: url("../images/tick-mark.png") no-repeat 1px 2px;
    content: '';
    font: normal 12px/16px FontAwesome;
    height: 15px;
    left: 2px;
    text-align: center;
    top: 4px;
    width: 15px;
}

.checkbox input + i:after {
    -moz-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
    opacity: 0;
    position: absolute;
    transition: opacity 0.1s;
}

.checkbox input {
    left: -9999px;
    position: absolute;
}

.checkbox input:checked + i:after { opacity: 1; }

.ckeck-bg {
    min-height: 215px;
    position: relative;
}

.checkbox-form input[type="submit"] {
    -webkit-appearance: none;
    background: #2a99d6;
    border: none;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 1em 0 0 0;
    outline: none;
    padding: .7em 2em;
}

.checkbox-form input[type="submit"]:hover {
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    background: #2b3e4e;
    color: #FFF;
    transition: 0.5s all;
}

.form a {
    color: #fff;
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    padding: 2em 0 0.6em 0;
    text-align: Center;
    text-decoration: underline;
}

.graph {
    background: #FFFFFF;
    margin: 3em 0;
    padding: 5em 0 2em 0;
    position: relative;
}

.site-report {
    background: #E7F3FA;
    float: right;
    margin-left: 3%;
    min-height: 440px;
    padding: 2.7em;
    position: relative;
    width: 33%;
}

.site-report h3 {
    color: #000000;
    font-size: 1.9em;
    font-weight: 600;
}

.world-map {
    background: #4597a8;
    float: left;
    padding: 2em 2em 0 2em;
    position: relative;
    width: 64%;
}

.world-map h3 {
    color: #fff;
    float: left;
    font-size: 1.9em;
    font-weight: 600;
    padding: 0em 0 0.5em 0;
}

.world-map p {
    color: #fff;
    float: right;
    font-size: 1.3em;
    font-weight: 300;
    padding: 0.5em 0 0.5em 0;
}

span.color1 {
    background: #4a9fc5;
    border: 1px solid #fff;
    display: inline-block;
    height: 20px;
    margin: 0 10px;
    vertical-align: top;
    width: 20px;
}

span.color2 {
    background: #0071a4;
    border: 1px solid #fff;
    display: inline-block;
    height: 20px;
    margin: 0 10px;
    vertical-align: top;
    width: 20px;
}

span.color3 {
    background: #9cd2eb;
    border: 1px solid #fff;
    display: inline-block;
    height: 20px;
    margin: 0 10px;
    vertical-align: top;
    width: 20px;
}

span.color4 {
    background: #ffffff;
    border: 1px solid #fff;
    display: inline-block;
    height: 20px;
    margin: 0 10px;
    vertical-align: top;
    width: 20px;
}

span.color5 {
    background: #77bbda;
    border: 1px solid #fff;
    display: inline-block;
    height: 20px;
    margin: 0 10px;
    vertical-align: top;
    width: 20px;
}

span.color6 {
    background: #2488b4;
    border: 1px solid #fff;
    display: inline-block;
    height: 20px;
    margin: 0 10px;
    vertical-align: top;
    width: 20px;
}

.skills {
    background: #fff;
    height: 25px;
    margin: 0;
    margin-top: 5px;
    position: relative;
    width: 100%;
}

button#focus-single, button#focus-multiple, button#focus-coords, button#focus-init {
    background: #2980b9;
    border: none;
    color: #fff;
    font-size: 0.9em;
    margin: 0 5px 0 0;
    outline: none;
    padding: 5px 9px;
}

.skill {
    background-color: #27ae60;
    display: block;
    height: 100%;
}

.skill1 {
    background-color: #f1c40f;
    display: block;
    height: 100%;
}

.skill2 {
    background-color: #d35400;
    display: block;
    height: 100%;
}

.skills-top { margin: 2em 0 0 0; }

.skills-top h5 {
    color: #000000;
    float: left;
    font-size: 1.45em;
    font-weight: 400;
}

.skills-top h4 {
    color: #000000;
    float: right;
    font-size: 1.3em;
    font-weight: 400;
}

.site-report p {
    color: #000000;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
    margin-top: 2em;
}

#myChart {
    height: 380px;
    width: 100%;
}

#docs {
    background-color: #1b93e1;
    color: #FFF;
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.user-trends {
    float: left;
    position: relative;
    width: 65%;
}

.footer {
    background: #2F5671;
    padding: 2em 0;
}

.copyright p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
}

.copyright p a { color: #fff; }

/*-- responsive-design starts-here --*/

@media screen and (max-width: 1440px) {
    .view { padding: 2.7em 1.55em 0; }

    p.home { padding: 0.7em 0.5em; }

    button#focus-single, button#focus-multiple, button#focus-coords, button#focus-init {
        margin: 0 4px 0 0;
        padding: 5px 4px;
    }

    .member { padding: 1.7em 1.9em 0; }

    .checkbox i { left: 16.5em; }

    .site-report p { font-size: 1.3em; }

    .site-report { min-height: 513px; }

    canvas#bar { width: 702px ! important; }
}

@media screen and (max-width: 1366px) {
    .view ul li { margin: 0 1.3em; }

    .side-bar { margin-right: 2%; }

    .content { width: 76%; }

    .navigation ul li a { font-size: 1.2em; }

    button#focus-single, button#focus-multiple, button#focus-coords, button#focus-init { font-size: 0.875em; }

    .grid-men { width: 15%; }

    .men-grid { width: 82%; }

    .member { padding: 1.7em 1.5em 0; }

    .users {
        padding: 1.6em;
        width: 32%;
    }

    .graph { padding: 4em 0 1em 0; }

    .logo {
        margin-bottom: 4em;
        padding: 2.8em 0;
    }

    span.red { top: -10px; }

    span.blue { top: -11px; }

    .sales, .new-users, .orders { padding: 1.8em 1.2em; }

    .site-report { min-height: 520px; }

    .site-report { min-height: 513px; }

    canvas#bar { width: 660px ! important; }

    .to-do {
        margin: 1em 0 0;
        width: 32%;
    }
}

@media screen and (max-width: 1280px) {
    .total-content { margin: 1.5em 1em; }

    .world-map { padding: 2em 1em 0 1em; }

    button#focus-single, button#focus-multiple, button#focus-coords, button#focus-init { font-size: 0.85em; }

    .world-map h3 {
        font-size: 1.8em;
        padding: 0 0 0.5em 0;
    }

    .world-map p { font-size: 1.15em; }

    .world-map p { padding: 0em 0 0.5em 0; }

    .site-report {
        min-height: 505px;
        padding: 3em 2em 1em 2em;
    }

    .search2 input[type="text"] {
        font-size: 2.25em;
        width: 78%;
    }

    .member p a { font-size: 1.35em; }

    .visitors p, .sales p, .new-users p, .orders p { font-size: 1.1em; }

    .view ul li { margin: 0 1.1em; }

    .cd-tabs-navigation a { padding: 0.8em 0; }

    .top-men { padding: 3em 3em 1em 3em; }

    p.home {
        font-size: 1.2em;
        padding: 0.5em 01em;
    }

    p.home a { margin-top: -1.4px; }

    div#vmap { width: 535px ! important; }

    .site-report { min-height: 500px; }

    canvas#bar { width: 630px ! important; }

    .checkbox i { left: 15em; }
}

@media screen and (max-width: 1024px) {
    .logo a img { width: 68%; }

    .logo { padding: 2.5em 0; }

    .total-content { margin: 2em 1em; }

    button#focus-single, button#focus-multiple, button#focus-coords, button#focus-init {
        font-size: 0.71em;
        margin: 0 0px 0 0;
        padding: 4px 3px;
    }

    i.men {
        background: url('../images/img-sprite.png') no-repeat -121px -27px;
        background-size: 400px;
        display: inline-block;
        height: 45px;
        margin-right: 8px;
        vertical-align: middle;
        width: 45px;
    }

    .wrapper-dropdown-2 span {
        margin-left: 0.3em;
        margin-top: 1em;
    }

    i.settings {
        background: url('../images/img-sprite.png') no-repeat -173px -33px;
        background-size: 400px;
        display: inline-block;
        height: 40px;
        margin-left: 3px;
        margin-top: 4px;
        width: 40px;
    }

    .search {
        min-height: 105px;
        padding: 1em 0.5em 0 0.5em;
    }

    .search2 input[type="text"] {
        font-size: 1.8em;
        width: 76%;
    }

    i.refresh {
        background: url('../images/img-sprite.png') no-repeat 0px -27px;
        background-size: 400px;
        height: 40px;
        width: 40px;
    }

    i.msgs {
        background: url('../images/img-sprite.png') no-repeat -41px -28px;
        background-size: 400px;
        height: 40px;
        width: 40px;
    }

    i.bell {
        background: url('../images/img-sprite.png') no-repeat -81px -27px;
        background-size: 400px;
        height: 40px;
        width: 40px;
    }

    span.red {
        font-size: 1.1em;
        height: 25px;
        left: 7px;
        padding-top: 0px;
        top: -10px;
        width: 25px;
    }

    span.blue {
        font-size: 1.1em;
        height: 25px;
        left: 10px;
        padding-top: 0px;
        top: -10px;
        width: 25px;
    }

    .view ul li { margin: 0 0.9em; }

    .view {
        min-height: 120px;
        padding: 3.2em 1.2em 0;
    }

    .member {
        min-height: 105px;
        padding: 1.8em 0.9em 0;
    }

    .search2 input[type="submit"] { top: 14px; }

    p.home a { width: 7%; }

    .wrapper-dropdown-2 .dropdown { top: 50px; }

    .navigation ul li a { font-size: 1.1em; }

    .navigation h3 {
        font-size: 1.25em;
        margin-bottom: 0.8em;
        padding: 0.6em 0;
        padding-left: 2em;
    }

    .visitors h4, .sales h4, .users h4 { font-size: 1.4em; }

    .visitors h3, .sales h3, .users h3 { font-size: 1.75em; }

    .visitors p, .sales p, .new-users p, .orders p {
        font-size: 1.05em;
        margin-top: 0;
    }

    .list_of_members, .total-world, .calenders { margin: 2em 0; }

    .sales, .new-users, .orders { padding: 1.5em 1em; }

    .visitors { padding: 1.5em 1em; }

    .calender-left { padding: 3em 2em 2em 2em; }

    i.dollar {
        background: url('../images/img-sprite.png') no-repeat -379px -32px;
        background-size: 430px;
        height: 50px;
        width: 45px;
    }

    i.user1 {
        background: url('../images/img-sprite.png') no-repeat -272px -30px;
        background-size: 430px;
        height: 50px;
        width: 50px;
    }

    i.order {
        background: url('../images/img-sprite.png') no-repeat -326px -33px;
        background-size: 430px;
        height: 50px;
        width: 45px;
    }

    i.visit {
        background: url('../images/img-sprite.png') no-repeat -272px -78px;
        background-size: 430px;
        height: 50px;
        width: 50px;
    }

    .calender-right { padding: 3em 0em 2.55em 0em; }

    .world-map p { font-size: 1em; }

    span.color1, span.color2, span.color3, span.color4, span.color5, span.color6, span.color7 {
        height: 17px;
        margin: 0 7px;
        vertical-align: text-bottom;
        width: 17px;
    }

    .world-map h3 {
        font-size: 1.7em;
        padding: 0em 0 0.5em 0;
    }

    .skills {
        height: 20px;
        margin-top: 3px;
    }

    .site-report h3 { font-size: 1.7em; }

    .skills-top h5 { font-size: 1.3em; }

    .skills-top h4 { font-size: 1.2em; }

    .site-report p { font-size: 1.2em; }

    .site-report { min-height: 485px; }

    .cd-tabs-navigation a { font-size: 1.6em; }

    .navigation ul { padding-left: 3em; }

    .men-grid p { font-size: 1.2em; }

    i.dash {
        height: 30px;
        margin-right: 0;
    }

    i.mail {
        background: url('../images/img-sprite.png') no-repeat -35px -1px;
        height: 27px;
        margin-right: 0;
    }

    i.cal {
        background: url('../images/img-sprite.png') no-repeat -70px 0px;
        height: 30px;
        margin-right: 0;
    }

    i.page {
        background: url('../images/img-sprite.png') no-repeat -105px -1px;
        height: 30px;
        margin-right: 0;
    }

    i.chat {
        height: 32px;
        margin-right: 0;
    }

    i.art {
        background: url('../images/img-sprite.png') no-repeat -175px 0px;
        height: 30px;
        margin-right: 0;
    }

    i.user {
        background: url('../images/img-sprite.png') no-repeat -210px 0px;
        height: 30px;
        margin-right: 0;
    }

    i.fat {
        background: url('../images/img-sprite.png') no-repeat -245px -2px;
        height: 30px;
        margin-right: 0;
    }

    i.speed {
        background: url('../images/img-sprite.png') no-repeat -280px 0px;
        height: 30px;
        margin-right: 0px;
    }

    i.setting {
        background: url('../images/img-sprite.png') no-repeat -315px 0px;
        height: 30px;
        margin-right: 0;
    }

    i.rev {
        background: url('../images/img-sprite.png') no-repeat -350px -3px;
        height: 30px;
        margin-right: 3px;
    }

    i.pic {
        background: url('../images/img-sprite.png') no-repeat -385px 0px;
        height: 30px;
        margin-right: 3px;
    }

    i.faq {
        background: url('../images/img-sprite.png') no-repeat -420px -1px;
        height: 30px;
        margin-right: 3px;
    }

    .footer { padding: 2em 0; }

    .copyright p { font-size: 1.1em; }

    .wrapper-dropdown-2 span {
        margin-left: 0.5em;
        margin-top: 0.4em;
    }

    .wrapper-dropdown-2 span img { width: 85%; }

    .member p a { font-size: 1.2em; }

    .view {
        min-height: 105px;
        padding: 2.9em 0.5em 0;
    }

    .visitors h3, .sales h3, .new-users h3, .orders h3 { font-size: 2.2em; }

    .wrapper-dropdown-2 .dropdown { left: -48px; }

    .side-bar { min-height: 2200px; }

    .world-map { padding: 1.4em 1em 0 1em; }

    div#vmap { width: 450px ! important; }

    .site-report { min-height: 480px; }

    canvas#bar { width: 500px ! important; }

    .checkbox i { left: 12em; }

    .total-sales { margin: 2em 0; }
}

@media screen and (max-width: 768px) {
    .side-bar {
        margin-bottom: 3em;
        margin-right: 0;
        min-height: 0;
        width: 100%;
    }

    .logo a img { width: 20%; }

    .logo { padding: 2em 0; }

    .content { width: 100%; }

    i.men {
        background: url('../images/img-sprite.png') no-repeat -117px -24px;
        background-size: 380px;
        height: 40px;
        margin-right: 6px;
        width: 40px;
    }

    button#focus-single, button#focus-multiple, button#focus-coords, button#focus-init { font-size: 0.69em; }

    i.settings {
        background: url('../images/img-sprite.png') no-repeat -169px -31px;
        background-size: 390px;
        height: 38px;
        margin-left: 4px;
        margin-top: 4px;
        width: 38px;
    }

    i.chat, i.art, i.user, i.fat, i.speed, i.setting, i.rev, i.faq, i.pic { margin-right: 5px; }

    .footer { padding: 1.8em 0; }

    .copyright p { font-size: 1em; }

    .wrapper-dropdown-2 .dropdown { width: 83%; }

    .view {
        min-height: 100px;
        padding: 2.5em 0.5em 0;
    }

    .search {
        min-height: 100px;
        padding: 1em 1em 0 0.5em;
    }

    .member { min-height: 100px; }

    .search2 input[type="submit"] { top: 12px; }

    .sales, .new-users, .orders { padding: 1.2em 0.8em; }

    .visitors { padding: 1.2em 1em; }

    .wrapper-dropdown-2 .dropdown { left: -2px; }

    .wrapper-dropdown-1.active .dropdown { left: -93px; }

    .wrapper-dropdown-3.active .dropdown { left: -93px; }

    div#vmap { width: 430px ! important; }

    canvas#bar { width: 480px ! important; }
}

@media screen and (max-width: 640px) {
    .logo a img { width: 24%; }

    .logo {
        margin-bottom: 3.5em;
        padding: 1.8em 0 1.4em 0;
    }

    .navigation ul li a { font-size: 1em; }

    .world-map { width: 100%; }

    button#focus-single, button#focus-multiple, button#focus-coords, button#focus-init {
        font-size: 0.875em;
        padding: 4px 6px;
    }

    .site-report {
        margin-top: 2em;
        min-height: 0;
        padding: 3em 2em 2em 2em;
        width: 100%;
    }

    p.home { font-size: 1.1em; }

    p.home a { width: 8%; }

    .visitors h3, .sales h3, .users h3 { font-size: 2.2em; }

    .visitors h4, .sales h4, .users h4 { font-size: 1.1em; }

    .visitors p, .sales p, .users p { font-size: 0.95em; }

    .total-sale {
        margin-bottom: 2em;
        margin-right: 0;
        width: 100%;
    }

    .user-trends { width: 100%; }

    .visitors h3, .sales h3, .new-users h3, .orders h3 { font-size: 2em; }

    .sales {
        margin-right: 1%;
        width: 24.5%;
    }

    .orders {
        margin-right: 1%;
        width: 24.5%;
    }

    .new-users {
        margin-right: 1%;
        width: 24.5%;
    }

    .top-men { padding: 3em 1em 0em 2em; }

    .cd-tabs-navigation a {
        font-size: 1.3em;
        padding: 1em 0;
    }

    .sales, .new-users, .orders { padding: 1.2em 0.3em; }

    .men-grid h6 a { font-size: 1.2em; }

    .men-grid h6 { font-size: 1em; }

    .men-grid span {
        font-size: 0.8em;
        margin-top: 3px;
    }

    .men-grid p { font-size: 1em; }

    .grid-men {
        margin-right: 2%;
        width: 16%;
    }

    i.settings { display: none; }

    .member, .search, .view { min-height: 100px; }

    .search2 input[type="submit"] { top: 14px; }

    .search2 { padding: 0; }

    .search2 input[type="text"] {
        font-size: 1.85em;
        width: 74%;
    }

    p.home a { margin-top: -1.2px; }

    .refresh {
        background: url('../images/img-sprite.png') no-repeat -2px -28px;
        background-size: 380px;
        height: 35px;
        width: 35px;
    }

    i.msgs {
        background: url('../images/img-sprite.png') no-repeat -40px -29px;
        background-size: 380px;
        height: 35px;
        width: 35px;
    }

    i.bell {
        background: url('../images/img-sprite.png') no-repeat -78px -28px;
        background-size: 380px;
        height: 35px;
        width: 35px;
    }

    i.men {
        background: url('../images/img-sprite.png') no-repeat -117px -31px;
        background-size: 380px;
        height: 40px;
        margin-right: 6px;
        width: 40px;
    }

    span.red {
        left: 5px;
        top: -12px;
    }

    span.blue {
        left: 8px;
        top: -12px;
    }

    .view ul li { margin: 0 0.6em; }

    .wrapper-dropdown-2 .dropdown { width: 90%; }

    .wrapper-dropdown-2 .dropdown li a {
        font-size: 0.875em;
        padding: 7px;
    }

    .calender-left { padding: 3em 1em 2em 1em; }

    .member p a { font-size: 1em; }

    .member { padding: 2em 0.3em 0; }

    .wrapper-dropdown-2 span img {
        float: right;
        width: 80%;
    }

    .wrapper-dropdown-2 span {
        float: right;
        margin-left: 0;
        margin-top: 5px;
        width: 26%;
    }

    .wrapper-dropdown-1.active .dropdown { left: -93px; }

    .wrapper-dropdown-3.active .dropdown { left: -93px; }

    div#vmap {
        height: 300px ! important;
        width: 100% ! important;
    }

    canvas#bar {
        height: 320px ! important;
        width: 100% ! important;
    }

    .to-do { width: 100%; }

    .checkbox i { left: 32em; }
}

@media screen and (max-width: 480px) {
    .calender-left {
        margin-bottom: 1.8em;
        margin-right: 0;
        width: 100%;
    }

    .calender-right { width: 100%; }

    .cd-tabs-navigation a {
        font-size: 1.1em;
        padding: 0.9em 0;
    }

    .world-map h3 { font-size: 1.5em; }

    .world-map p { font-size: 0.875em; }

    span.color1, span.color2, span.color3, span.color4, span.color5, span.color6, span.color7 {
        height: 15px;
        width: 15px;
    }

    button#focus-single, button#focus-multiple, button#focus-coords, button#focus-init {
        font-size: 0.65em;
        padding: 3px 2px;
    }

    .logo a img { width: 30%; }

    p.home a {
        margin-top: -1px;
        width: 11%;
    }

    .view {
        margin-right: 4%;
        width: 48%;
    }

    .search {
        margin-right: 0;
        width: 48%;
    }

    .member {
        margin-top: 3%;
        padding: 2em 5em 0;
        width: 100%;
    }

    .view ul li { margin: 0 0.75em; }

    i.settings { display: block; }

    .member p a { font-size: 1.4em; }

    i.men {
        background: url('../images/img-sprite.png') no-repeat -122px -25px;
        background-size: 400px;
        height: 45px;
        margin-right: 9px;
        width: 45px;
    }

    .wrapper-dropdown-2 span { margin-left: 1.1em; }

    i.settings {
        float: left;
        margin-left: 20px;
        margin-top: 6px;
    }

    .wrapper-dropdown-2 .dropdown { width: 55%; }

    .copyright p { font-size: 0.95em; }

    .footer { padding: 1.5em 0; }

    .sales, .orders {
        margin-top: 2%;
        padding: 1em 0.5em 0.7em 0.5em;
        width: 48%;
    }

    .new-users, .visitors {
        margin-left: 1%;
        margin-right: 0;
        margin-top: 2%;
        padding: 1em 0.5em 0.7em 0.5em;
        width: 48%;
    }

    .visitors h3, .sales h3, .users h3 { font-size: 2em; }

    .visitors p, .sales p, .users p { font-size: 0.875em; }

    .users { width: 32.333%; }

    .wrapper-dropdown-2 span img {
        float: left;
        width: 55%;
    }

    .wrapper-dropdown-2 span { float: left; }

    .checkbox i { left: 22em; }
}

@media screen and (max-width: 320px) {
    .total-content { margin: 0.7em; }

    .logo a img { width: 45%; }

    .logo {
        margin-bottom: 2.5em;
        padding: 1.5em 0 1.1em 0;
    }

    .navigation h3 { font-size: 1.2em; }

    .navigation { padding-bottom: 1em; }

    .view {
        margin-right: 0;
        width: 100%;
    }

    .search {
        margin-top: 3%;
        padding: 2em 1.5em 0 1.5em;
        width: 100%;
    }

    .member { padding: 2em 1em 0; }

    .view ul li { margin: 0 1.4em; }

    p.home a {
        margin-top: -1.1px;
        width: 19%;
    }

    .visitors, .sales, .users {
        margin-right: 0;
        width: 100%;
    }

    .copyright p {
        font-size: 0.875em;
        line-height: 1.7em;
    }

    .wrapper-dropdown-2 .dropdown {
        margin-left: 13%;
        width: 68%;
    }

    .search2 input[type="submit"] { top: 0px; }

    .cd-tabs-navigation li {
        padding-bottom: 3%;
        width: 100%;
    }

    .top-men { padding: 2em 0.8em 0em 0.8em; }

    .grid-men { width: 28%; }

    .men-grid { width: 68%; }

    .men-grid h6 { font-size: 0.875em; }

    .men-grid p {
        font-size: 0.875em;
        height: 41px;
        overflow: hidden;
    }

    .men { padding: 0em 0 2em 0; }

    .calender-right h3 {
        font-size: 1.7em;
        margin-bottom: 01em;
        margin-left: 1em;
    }

    .calender-right { padding: 2.5em 0em 1em 0em; }

    .calender-left form input[type="text"], .calender-left form textarea {
        font-size: 1em;
        margin-bottom: 1em;
        padding: 13px;
    }

    .calender-left form input[type="submit"] {
        font-size: 1.2em;
        padding: 0.5em 0em;
    }

    .calender-left form textarea { height: 150px; }

    .calender-left h3 {
        font-size: 1.7em;
        margin-bottom: 1em;
    }

    .footer { padding: 1.2em 0; }

    .graph { padding: 3em 0 0em 0; }

    i.men {
        background: url('../images/img-sprite.png') no-repeat -122px -27px;
        background-size: 400px;
        height: 45px;
        margin-right: 9px;
        width: 45px;
    }

    button#focus-single, button#focus-multiple, button#focus-coords, button#focus-init {
        font-size: 0.75em;
        margin-top: 5px;
        padding: 4px 5px;
    }

    .new-users, .visitors {
        margin-left: 0;
        margin-right: 0;
        margin-top: 2%;
        padding: 1em 0.5em 0.7em 3.5em;
        width: 100%;
    }

    .sales, .orders {
        margin-top: 2%;
        padding: 1em 0.5em 0.7em 3.5em;
        width: 100%;
    }

    .member, .search, .view { min-height: 85px; }

    .view { padding: 2em 0.5em 0; }

    .member { padding: 1.5em 1em 0; }

    .wrapper-dropdown-3.active .dropdown { left: -155px; }

    .checkbox i { left: 15em; }

    span.color1, span.color2, span.color3, span.color4, span.color5, span.color6, span.color7 { margin: 0 6px; }
}